/* used colors are: #222 #eee*/
* {
    margin: 0;
    padding: 0;
}

body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

.primary-box {
    background: #222;
    margin: 0 0 10px 0;
    padding: 10px;
    color: #eee;
    font-size: 20px;
}

.secondary-box {
    background: #eee;
    margin: 0 0 10px 0;
    padding: 10px;
    color: #222;
    font-size: 20px;
}