body {
    background: #4d2d06;
    font-family: Georgia, Times, serif;
    color: #fff;
    text-align: center;
    font-size: 50px;    
}

.Secondary-Box {
    border: 3px solid black ;
    background-color: white ; color: black;
  }


.Primary-Box {
    border: 3px solid black ;
    background-color: #4C413E;
    
  }

  div {border: 1px solid black}

  p {font-size: 37px}
  

  .text-1 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif }
  .text-2 {font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif }